:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global container styling for all sections */
section,
.modeling-section,
.anime-section,
.roadMap  {
  max-width: 1800px;
  margin: 0 auto;
 
  margin-bottom: 5%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
   width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: #000000;
  overflow-x: hidden;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Optional: Responsive padding for smaller screens */
@media (max-width: 768px) {
  section,
  .modeling-section,
  .anime-section {
    padding: 40px 20px !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3c566d;
    background-color: #e0e0e0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}