.roadMap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  margin-top:4rem;
}

.block {
  background-color: #1c1c1c;
  width: 93%;
  border-radius: 6px;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 1rem;
  line-height: 1rem;
  
}

.block:hover{
  background-color: #333333;
  box-shadow:3px 3px 6px #ff8c007a;
  transition: 1s ;
  
}

.blockContent {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftexpBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.blockTitle {
  font-size: 1.1rem;
}

.description {
  color: #6d6d6d;
  font-size: 0.9rem;
  max-width: 80%;
}

.blockDate{
    font-size: 1.1rem;
}

.keyTools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.toolTag {
  background-color: #e3e3e30c;
  border: 1px solid #e7e7e782;
  color: #e7e7e7;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.85rem;
}

/* ----------------- Responsive ----------------- */

/* Tablet */
@media (max-width: 1024px) {
  .blockContent {
    flex-direction: column;
    gap: 0.5rem;
  }

  .description {
    max-width: 100%;
  }

  .blockTitle {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .block {
    width: 95%;
  }

  .blockContent {
    flex-direction: column;
    gap: 0.8rem;
    padding: 5%;
  }

  .blockTitle {
    font-size: 1rem;
  }

  .SubTitle,
  .blockDate {
    font-size: 0.85rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .toolTag {
    font-size: 0.8rem;
    padding: 3px 6px;
  }
}
