.experience-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 5%;
  color: rgb(255, 255, 255);
}

.line{
    width: 90%;
}

.roadMap{
    flex-direction: column;
    row-gap: 10px;
    display: flex;
}

.block{
    background-color: #1c1c1c;
    width: 90%;
    border-radius: 6px;
    transition: transform 0.5s ease-in-out;
    margin-bottom: 1rem;
}

.block:hover {
  transform: scale(1.001);
  background: #1f1f1f;
}

.blockContent{
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftexpBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.blockTitle{
    font-size: 1.1rem;
    line-height: 10%;
}

.blockDate{
    font-size:  .875rem;;
    color: #6d6d6d;
}

.rightexpBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.SubTitle{
    font-size: .875rem;
}

.description{
    color: #6d6d6d;
    font-size: .9rem;
    max-width: 80%;
    text-align: left;
}

.keyTools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.toolTag {
  background-color: #e3e3e30c;
  border: 1px solid #e7e7e782;
  color: #e7e7e7;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.85rem;
}
